.episode {
    margin: 12px auto;
    h4{
        color: $gray-darker;
        small{
            color: $gray-dark;
        }
    }
    p {
        font-family: 'PT Serif', serif;
        font-size: $font-size-small;
    }
}